<app-top-nav [title]="pageTitle"(newItemEvent)="addItem($event)">
  {{ items }}</app-top-nav>
<div class="formDiv">
<form [formGroup]="userEdit" (ngSubmit)="UpdateForm()" class="userForm">
  <mat-form-field>
    <input matInput formControlName="userName" autocomplete="off" appForbiddenNumbers>
    <mat-label>UserName</mat-label>
    <mat-error *ngIf="userEdit.get('userName').hasError('required')">Username is required</mat-error>
    <mat-error *ngIf="userEdit.get('userName').hasError('invalidName')">Invalid username</mat-error>  
  </mat-form-field>

  <mat-form-field >
    <input matInput formControlName="email" autocomplete="off">
    <mat-label>Email</mat-label>
    <mat-error *ngIf="userEdit.get('email').hasError('required')">Email is required</mat-error>
    <mat-error *ngIf="userEdit.get('email').hasError('email')">Invalid email</mat-error>
    <mat-error *ngIf="userEdit.get('email').hasError('invalidEmail')">Invalid email</mat-error>  
  </mat-form-field>

  <mat-form-field>
    <mat-label>Gender</mat-label>
    <mat-select formControlName="gender" autocomplete="off" required>
      <mat-option value="Male">Male</mat-option>
      <mat-option value="Female">Female</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="phoneNumber" autocomplete="off" appForbiddenAlphabets>
    <mat-label>Phone Number</mat-label>
    <mat-error *ngIf="userEdit.get('phoneNumber').hasError('required')">phone number is required</mat-error>
    <mat-error *ngIf="userEdit.get('phoneNumber').hasError('invalidPhone')">Invalid phone number</mat-error>   
  </mat-form-field>

 <mat-form-field>
  <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" [max]="maxDate" autocomplete="off">
  <mat-label>Date of Birth</mat-label>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  <mat-error *ngIf="userEdit.get('dateOfBirth').hasError('required')">Date of Birth is required</mat-error>
  <mat-error *ngIf="userEdit.get('dateOfBirth').hasError('invalidDateOfBirth')">Invalid Date of Birth</mat-error>
</mat-form-field>  

  <button mat-raised-button color="primary" type="submit">Update</button>
</form>
</div>


