/* Styling for the user-card-container */
.user-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Styling for individual user cards */
.user-card {
  width: 200px;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #e0e0e0;
  }

  .card-content {
    margin-bottom: 10px;

    strong {
      font-weight: bold;
    }
  }
}

/* Styling for the user details container */
.user-details {
  // display: none; /* Hide by default */
  margin-top: 20px;

  button {
    padding: 10px 15px;
    background-color: #673ab7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #673ab7;
    }
  }
}
