<div class="user-card-container" >
  <div *ngFor="let item of users;i:index"  class="user-card" (mouseenter)="item.hovered = true" (mouseleave)="item.hovered = false">
    <div class="card-content">
      <strong>ID:</strong> {{ item.id }}
    </div>
    <div class="card-content">
      <strong>Name:</strong> {{ item.userName }}
    </div>
    <div class="card-content">
        <strong>email:</strong> {{ item.email }}
      </div>
      <div class="card-content">
        <strong>gender:</strong> {{ item.gender }}
      </div>
      <div class="card-content">
        <strong>Phone no:</strong> {{ item.phoneNumber }}
      </div>
      <div class="card-content">
        <strong>date of birth:</strong> {{ item.dateOfBirth | dateFormat: 'ddMMyyyy' }}
      </div>
      <div class="card-buttons" [ngClass]="{ 'visible': item.hovered }">
        <button (click)="editUser(item.id)">Edit</button>
        <button (click)="DeleteUserByID(item.id)">Delete</button>
      </div>
  </div>
</div>
<div class="user-details"> 
     <button (click)="goBack()">Add User</button>
</div>
