<div class="table-container">
  <table>
    <tr>
      <th>Name</th>
      <th>Place</th>
      <th>Phone-no</th>
    </tr>
    <tr>
      <td>Nikhil</td>
      <td>bgm</td>
      <td>1234</td>
    </tr>
    <tr>
      <td>Sahana</td>
      <td>bnglr</td>
      <td>12253434</td>
    </tr>
    <tr>
      <td>Shreyas</td>
      <td>udupi</td>
      <td>1237654</td>
    </tr>
    <tr>
      <td>Asheer</td>
      <td>Bhatkal</td>
      <td>123712654</td>
    </tr>
    <tr>
      <td>Pratik</td>
      <td>pune</td>
      <td>1238727654</td>
    </tr>
  </table>
</div>
