<div *ngIf="user" class="user-details">
    <h2>User Details</h2>
    <div>
      <strong>ID:</strong> {{ user.id }}
    </div>
    <div>
      <strong>Name:</strong> {{ user.userName }}
    </div>
    <div>
      <strong>Email:</strong> {{ user.email }}
    </div>
    <div>
      <strong>Date of birth:</strong> {{ user.dateOfBirth }}
    </div>
    <div>
        <strong>Phone Number:</strong> {{ user.phoneNumber }}
      </div>
  </div>
  <div class="user-details">
    <!-- User details content here -->
    <button (click)="goBack()">Back</button>
  </div>
  