<h2>User Form</h2>
<div class="formDiv">
<form [formGroup]="userAdd"(ngSubmit)="onSubmit()"  class="userForm">
  <mat-form-field>
    <input matInput placeholder="userName" formControlName="userName">
    <mat-error *ngIf="userAdd.get('userName').hasError('required')">Username is required</mat-error>
    <mat-error *ngIf="userAdd.get('userName').hasError('invalidName')">Invalid username</mat-error>
  </mat-form-field>

  <mat-form-field >
    <input matInput placeholder="Email" formControlName="email">
    <mat-error *ngIf="userAdd.get('email').hasError('required')">Email is required</mat-error>
    <mat-error *ngIf="userAdd.get('email').hasError('email')">Invalid email</mat-error>
    <mat-error *ngIf="userAdd.get('email').hasError('invalidEmail')">Invalid email</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Gender</mat-label>
    <mat-select formControlName="gender">
      <mat-option value="male">Male</mat-option>
      <mat-option value="female">Female</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Phone Number" formControlName="phoneNumber">
    <mat-error *ngIf="userAdd.get('phoneNumber').hasError('required')">phone number is required</mat-error>
    <mat-error *ngIf="userAdd.get('phoneNumber').hasError('invalidPhone')">Invalid phone number</mat-error>
  </mat-form-field>

 <mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Date of Birth" formControlName="dateOfBirth">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  <mat-error *ngIf="userAdd.get('dateOfBirth').hasError('required')">Date of Birth is required</mat-error>
  <mat-error *ngIf="userAdd.get('dateOfBirth').hasError('invalidDateOfBirth')">Invalid Date of Birth</mat-error>
</mat-form-field>  

<div>{{ userAdd.get('dateOfBirth').value | dateFormat: 'ddMMyyyy' }}</div>
<!-- sdads -->


  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
</div>